:root {
  --background-color: linear-gradient(180deg, #d3cce3 0%, #e9e4f0 100%);
  --min-height: calc(var(--ball-size) + 200px);
  --font-size: 16px;
  --links-color: #0351c1;

  --ball-size: 400px;
  --ball-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  --ball-background: radial-gradient(circle at 5% 5%, #666, #222 50%), #222;

  --eight-border-height: 10px;
  --eight-window-border: var(--eight-border-height) double #555;
  --eight-window-shadow: rgb(213, 213, 213) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.9) -3px -3px 6px 1px inset;
  --eight-number-background: #f1f2f2;
  --eight-number-size: calc(var(--ball-size) * 0.4);
  --eight-number-color: #222;
  --eight-number-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -1px 4px rgba(255, 255, 255, 0.1);

  --answer-text-color: #f1f2f2;
  --answer-text-shadow: 1px 1px 2px #868686;
  --answer-background-color: #00f;
}

@media screen and (max-width: 440px) {
  :root {
    --ball-size: calc(100vw - 40px);
    --min-height: calc(var(--ball-size) + 100px);
  }
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  font-size: var(--font-size);
  height: 100vh;
  min-height: var(--min-height);
  background: var(--background-color);
  overflow: hidden;
}

.creds {
  position: absolute;
  top: 26px;
}

.p-page {
  position: absolute;
  bottom: 26px;
}

a {
  color: var(--links-color);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in;
}

a:hover {
  border-bottom: 2px solid var(--links-color);
}

form {
  border-radius: 100%;
  cursor: pointer;
  height: var(--ball-size);
  width: var(--ball-size);
  position: relative;
}

form * {
  cursor: pointer;
}

[type="radio"] {
  display: none;
  left: 100%;
  position: absolute;
}

[type="reset"] {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 6;
  position: absolute;
}

li {
  margin: 0;
  padding: 0;
  height: var(--ball-size);
  width: var(--ball-size);
}

label {
  display: block;
  height: 100%;
  width: 100%;
}

ul {
  -webkit-animation: scale 4s infinite steps(20);
  animation: scale 4s infinite steps(20);
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 5;
}

.eight {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 4;
}

.eight__backdrop {
  background: var(--ball-background);
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  box-shadow: var(--ball-shadow);
}

.eight__number {
  justify-content: center;
  align-items: center;
  background: var(--eight-number-background);
  border-radius: 100%;
  display: flex;
  font-size: var(--eight-number-size);
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: var(--eight-number-color);
  text-shadow: var(--eight-number-shadow);
  box-shadow: var(--eight-window-shadow);
}

.eight__window {
  background: radial-gradient(transparent, #000);
  border: var(--eight-window-border);
  border-radius: 100%;
  width: calc(50% + (2 * var(--eight-border-height)));
  height: calc(50% + (2 * (var(--eight-border-height))));
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.eight__fascia {
  height: var(--ball-size);
  position: relative;
  width: var(--ball-size);
}

span {
  background: var(--answer-background-color);
  color: var(--answer-text-color);
  text-shadow: var(--answer-text-shadow);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  height: 45%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: floaty;
  animation-name: floaty;
  z-index: 2;
}

span:nth-of-type(even) {
  clip-path: polygon(0 100%, 50% 20%, 100% 100%);
  -webkit-clip-path: polygon(0 100%, 50% 20%, 100% 100%);
  align-items: flex-end;
  padding-bottom: 5%;
  top: 40%;
}

span:nth-of-type(odd) {
  clip-path: polygon(0 0, 50% 80%, 100% 0);
  -webkit-clip-path: polygon(0 0, 50% 80%, 100% 0);
  align-items: flex-start;
  padding-top: 5%;
  top: 60%;
}

[type="radio"]:checked ~ .eight,
[type="radio"]:checked ~ .eight__backdrop {
  -webkit-animation: shake 0.25s 4;
  animation: shake 0.25s 4;
}

[type="radio"]:checked ~ .eight .eight__fascia {
  transform: translate(0, -100%);
  transition: transform 0.25s 1.25s ease;
}

[type="radio"]:checked + span {
  opacity: 1;
  transition: opacity 1s 1.7s;
}

[type="radio"]:checked ~ [type="reset"] {
  display: block;
}

@-webkit-keyframes scale {
  to {
    transform: translateY(-100%);
  }
}
@keyframes scale {
  to {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes floaty {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -50%) translate(-2%, 2%) rotate(2deg);
  }
  50% {
    transform: translate(-50%, -50%) translate(2%, -2%) rotate(-2deg);
  }
  75% {
    transform: translate(-50%, -50%) translate(1%, 1%) rotate(1deg);
  }
}

@keyframes floaty {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -50%) translate(-2%, 2%) rotate(2deg);
  }
  50% {
    transform: translate(-50%, -50%) translate(2%, -2%) rotate(-2deg);
  }
  75% {
    transform: translate(-50%, -50%) translate(1%, 1%) rotate(1deg);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 5px);
  }
  75% {
    transform: translate(-10px, -5px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 5px);
  }
  75% {
    transform: translate(-10px, -5px);
  }
}
